{% load checking_like %}
<article>
  {% if post.topic %}
    {% for title in post.topic.all %}<a>#{{ title }}</a>{% endfor %}
  {% endif %}
  <ul>
    <li>Автор: {{ post.author.get_full_name }}</li>
    <li>Дата публикации: {{ post.created|date:"d E Y" }}</li>
  </ul>
  <p>{{ post.content }}</p>
  {% for likes in like.all %}
    {% if post.pk == likes.post %}
      <p>&#128150; {{ likes.count_like }}</p>
    {% endif %}
  {% endfor %}
  {% if user.is_authenticated %}
    {% if post.author.username == user.username %}
      <a class="btn btn-primary" href='{% url "posts:post_edit" post.id %}'>редактировать запись</a>
      <a class="btn btn-primary" href='{% url "posts:post_delete" post.id %}'>удалить запись</a>
    {% endif %}
    {% checking_like user post.pk as liked %}
    {% if liked == True %}
      <a class="btn btn-primary" href='{% url "posts:remove_like" post.id %}'>убрать лайк</a>
    {% else %}
      <a class="btn btn-primary" href='{% url "posts:add_like" post.id %}'>поставить лайк</a>
    {% endif %}
  {% endif %}
</article>
